.user-entry {
  padding: 10px;
  margin-bottom: 5px;
}

.current-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.other-users-panel-description-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.other-users-list-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#other-users-panel-description {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  /* Define a margem entre os itens */
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

// Para acessar dados do componente no angular material, fazer uso do "::ng-deep" para substituir o estilo interno de um componente do Angular Material
::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 0px !important;
}

mat-menu-item {
  white-space: normal;
  /* Evita que os nomes sejam cortados */
}