<mat-toolbar class="toolbar">

  <div>
    <img src="assets/images/nobuntu_logo.png" style="width: 80px;">
    <span>Workspace</span>
  </div>

  <change-language-button></change-language-button>
</mat-toolbar>

<ng-container *transloco="let t; read: 'core.reset-password'">
  <div class="container">
    <div class="panel">

      <div *ngIf="pageState == resetPasswordPageStates.SetEmail" id="email-form" [formGroup]="emailFormGroup">
        <h2>{{t("set-your-email")}}</h2>

        <mat-form-field appearance="outline" [formGroup]="emailFormGroup" style="display: block;">
          <mat-label>{{t("email")}}</mat-label>

          <input matInput type="email" id="email" formControlName="email" name="email"
            placeholder="youEmailhere@domain.com" (keydown.enter)="onChangePasswordLinkSubmit()">

          <mat-error *ngIf="emailFormGroup.get('email').hasError('required')">{{t("error-email-required")}}</mat-error>
          <mat-error *ngIf="emailFormGroup.get('email').hasError('minlength') ">
            {{t("error-email-minlength")}}
          </mat-error>
          <mat-error *ngIf="emailFormGroup.get('email').hasError('maxlength') ">
            {{t("error-email-maxlength")}}
          </mat-error>
          <mat-error *ngIf="emailFormGroup.get('email').hasError('email')">
            {{t("error-email-format")}}
          </mat-error>

        </mat-form-field>

        <div class="buttonsColumn">
          <button mat-raised-button color="primary" id="nextButton" type="submit" [disabled]="!emailFormGroup.valid"
            (click)="onChangePasswordLinkSubmit()">{{t("next")}}</button>
        </div>
      </div>

      <!-- Formulário para inserção de senha -->
      <div *ngIf="pageState == resetPasswordPageStates.SetPassword">

        <h2>{{t("set-your-password")}}</h2>

        <form [formGroup]="resetPasswordFormGroup">
          <!-- Campo de inserção de senha -->
          <mat-form-field appearance="outline" style="display: block;">
            <mat-label>{{t("password")}}</mat-label>

            <input matInput [type]="passwordHide == false ? 'password' : 'text'" id="password"
              formControlName="password" name="password">

            <!-- Mensagens de erro do campo -->
            <mat-error *ngIf="resetPasswordFormGroup.get('password').hasError('required')">
              {{t("error-password-required")}}
            </mat-error>
            <mat-error *ngIf="resetPasswordFormGroup.get('password').hasError('pattern') ">
              {{t("error-password-pattern")}}
            </mat-error>

          </mat-form-field>

          <!-- Campo de inserção de confirmação de senha -->
          <mat-form-field appearance="outline" style="display: block;">
            <mat-label>{{t("confirmPassword")}}</mat-label>

            <input matInput [type]="passwordHide == false ? 'password' : 'text'" id="confirmPassword"
              formControlName="confirmPassword" name="confirmPassword" (keydown.enter)="onChangePasswordSubmit()">

            <!-- Mensagens de erro do campo -->
            <mat-error *ngIf="resetPasswordFormGroup.get('confirmPassword').hasError('required')">
              {{t("error-confirmPassword-required")}}
            </mat-error>
            <mat-error *ngIf="confirmPasswordIsEqualPassword == false">
              {{t("error-confirmPassword-invalid")}}
            </mat-error>

          </mat-form-field>

        </form>

        <mat-checkbox [(ngModel)]="passwordHide" [disabled]="!passwordHideCheckBoxEnabled">
          {{ t("show-password") }}
        </mat-checkbox>

        <div class="buttonsColumn">
          <button mat-raised-button color="primary" id="nextButton" type="submit"
            [disabled]="!resetPasswordFormGroup.valid" (click)="onChangePasswordSubmit()">{{t("change-password")}}</button>
        </div>

      </div>

      <mat-spinner style="margin: auto;" *ngIf="isLoading == true"></mat-spinner>

    </div>
  </div>
</ng-container>