<ng-container *transloco="let t; read: 'core.database-credential-form'">

  <div class="panel" *ngIf="userHasTenant == false">
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button color="primary" class="save-button" (click)="goToCreateTenantPage()">{{
          t('go-to-create-tenant-page') }}</button>
    </div>
  </div>

  <div class="panel" *ngIf="userHasTenant == true">
    <mat-form-field appearance="fill" style="display: flex; flex-direction: column;">
      <mat-label>{{ t('tenant') }}</mat-label>
      <mat-select [formControl]="tenant">
        <mat-option *ngFor="let tenant of tenantsUserHavePermission" [value]="tenant.name">
          {{ tenant.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <form [formGroup]="databaseCredentialFormGroup" style="display: flex; flex-direction: column;">
      <ng-template matStepLabel>{{ t('create-new-database-credential-tittle') }}</ng-template>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('name') }}</mat-label>
        <input matInput formControlName="name" placeholder="Example: admin" required>
  
        <!-- <mat-error *ngIf="registerNewTenantFormGroup.get('name').hasError('required')">{{t("error-name-required")}}</mat-error> -->
        <!-- <mat-error *ngIf="registerNewTenantFormGroup.get('name').hasError('minlength') ">
          {{t("error-name-minlength")}}
        </mat-error>
        <mat-error *ngIf="registerNewTenantFormGroup.get('name').hasError('maxlength') ">
          {{t("error-name-maxlength")}}
        </mat-error> -->
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('type') }}</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let databaseType of databaseTypes" [value]="databaseType.name">
            {{databaseType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('username') }}</mat-label>
        <input matInput formControlName="username" placeholder="Example: admin" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('password') }}</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Example: passwordVeryV3r1ComplicadedHere"
          required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('host') }}</mat-label>
        <input matInput formControlName="host" placeholder="Example: 133.212.312.53" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('port') }}</mat-label>
        <input matInput formControlName="port" placeholder="Example: 545" required>
      </mat-form-field>
  
      <mat-checkbox formControlName="srvEnabled">{{ t('srvEnabled') }}</mat-checkbox>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('options') }}</mat-label>
        <input matInput formControlName="options" placeholder="" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('storagePath') }}</mat-label>
        <input matInput formControlName="storagePath" placeholder="" required>
      </mat-form-field>
  
      <mat-checkbox formControlName="sslEnabled">{{ t('sslEnabled') }}</mat-checkbox>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('sslCertificateAuthority') }}</mat-label>
        <input matInput formControlName="sslCertificateAuthority" placeholder="" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('sslPrivateKey') }}</mat-label>
        <input matInput formControlName="sslPrivateKey" placeholder="" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ t('sslCertificate') }}</mat-label>
        <input matInput formControlName="sslCertificate" placeholder="" required>
      </mat-form-field>
  
      <div style="display: flex; justify-content: center;">
        <button mat-raised-button color="warn" class="cancel-button" (click)="cancel()" style="margin-right: 10px;">{{
          t('button-cancel') }}</button>
        <button mat-raised-button color="primary" class="save-button" (click)="registerNewDatabaseCredential()">{{
          t('button-save') }}</button>
      </div>
  
    </form>
  </div>

  
</ng-container>