.buttonsColumn {
  display: flex;
  flex-direction: row-reverse;
}

mat-form-field {
  //Espaçamento para apresentação da mensagem de erro do campo
  margin-bottom: 13px;
}

/* Estilos para dispositivos móveis (celulares) - até 576px */
@media (max-width: 576px) {
  /* CSS específico para telas pequenas */
  mat-form-field {
    //Espaçamento para apresentação da mensagem de erro do campo
    margin-bottom: 30px;
  }
}

/* Estilos para dispositivos móveis (celulares grandes e tablets em modo retrato) - até 768px */
@media (max-width: 768px) {
  
}

/* Estilos para tablets (modo retrato) e dispositivos móveis maiores - até 992px */
@media (max-width: 992px) {
 
}

/* Estilos para tablets (modo paisagem) e laptops menores - até 1200px */
@media (max-width: 1200px) {

}

/* Estilos para desktops grandes - até 1400px */
@media (max-width: 1400px) {
  
}

/* Estilos para desktops ultra largos */
@media (min-width: 1400px) {
  
}