<div id="card-container">
  <div class="card-row">

    <mat-radio-button [value]="isSelected" (click)="selectItem(null)"
      *ngIf="isSelectable == true && isCheckBox == false && isSingleOption == true"></mat-radio-button>

    <mat-checkbox [checked]="isSelected" (change)="selectItem($event)"
      *ngIf="isSelectable == true && isCheckBox == true"></mat-checkbox>

    <div class="expandable" [ngStyle]="gridStyles">
      <ng-container #placeToRender></ng-container>
    </div>

    <div class="button-container">
      <button mat-icon-button aria-label="Edit value" *ngIf="isEditable == true" (click)="onClickToEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

  </div>
</div>