.card-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border: 1px solid #ccc;
  background-color: #ffffff;
  align-items: start;
}

.data-field-card-layout {
  display: flex;
  flex-grow: 1;/* Ocupa o máximo de expaço no componente */
  flex-direction: column;
  margin: 10px;
  align-items: flex-start;
  justify-content: center;
}

.button-container-card-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* Joga o botão para o final */
  justify-content: flex-end;
}