.clickableNumbersTabBackground {
    background-color: #DFE8FF;
    font-size: 40px;
    color: #1A237E;
}

.display {
    text-align: end;
    font-size: 40px;
    color: #1A237E;
}

.operationsDisplay {
    text-align: end;
    font-size: 20px;
    color: #1A237E;
}