.panel {
  padding: 30px;
  text-align: left;
}

#topTableMenu {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

// Alteraçõesn feitas na estilização da tabela do Angular Material
::ng-deep .mat-mdc-table {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Estilos para cada breakpoint */
@media (max-width: 320px) {
  /* Estilos para telas muito pequenas */
  .panel {
    padding: 10px; /* Reduzir o padding para telas menores */
    text-align: left;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  /* Estilos para smartphones um pouco maiores */
  .panel {
    padding: 10px; /* Reduzir o padding para telas menores */
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tablets */
  .panel {
    padding: 10px; /* Reduzir o padding para telas menores */
    text-align: left;
  }
}

@media (min-width:1024px) and (max-width: 1280px) {
  /* Estilos para telas maiores, mas ainda não desktop */
}

@media (min-width: 1280px) {
  /* Estilos para desktops */
}