<div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="tenant"
        [disabled]="!tenants || tenants.length === 0"
        >Tenant</button>
    </mat-menu>
    <mat-menu #tenant="matMenu">
        <ng-container *ngFor="let tenant of tenants">
            <button mat-menu-item (click)="changeTenant(tenant.id)"
            [disabled]="tenantEnable.id === tenant.id"
            >{{tenant.name}}</button>
        </ng-container>
    </mat-menu>
</div>