<ng-container *transloco="let t; read: 'core.sign-up-component'; path: 'core.sign-up-component'">
  <div>
    <h2>{{t("set-your-password")}}</h2>

    <form [formGroup]="passwordFormGroup">
      <!-- Campo de inserção de senha -->
      <mat-form-field appearance="outline" style="display: block;">
        <mat-label>{{t("password")}}</mat-label>

        <input matInput [type]="passwordHide == false ? 'password' : 'text'" id="password" formControlName="password"
          name="password" />

        <!-- Mensagens de erro do campo -->
        <mat-error *ngIf="passwordFormGroup.get('password').hasError('required')">
          {{t("error-password-required")}}
        </mat-error>
        <mat-error *ngIf="passwordFormGroup.get('password').hasError('pattern')">
          {{t("error-password-pattern")}}
        </mat-error>
        <mat-error *ngIf="passwordFormGroup.get('password').hasError('passwordStrength')">
          {{t("error-password-strength")}}
        </mat-error>
      </mat-form-field>

      <div class="spacer"></div>
      <!-- Campo de inserção de confirmação de senha -->
      <mat-form-field appearance="outline" style="display: block;">
        <mat-label>{{t("confirmPassword")}}</mat-label>
        <input matInput [type]="passwordHide == false ? 'password' : 'text'" id="confirmPassword"
          formControlName="confirmPassword" name="confirmPassword" />

        <!-- Mensagens de erro do campo -->
        <mat-error *ngIf="passwordFormGroup.get('confirmPassword').hasError('required')">
          {{t("error-confirmPassword-required")}}
        </mat-error>
        <mat-error *ngIf="!confirmPasswordIsEqualPassword">
          {{t("error-confirmPassword-invalid")}}
        </mat-error>
        <mat-error *ngIf="passwordFormGroup.get('confirmPassword').hasError('minlength')">
          {{t("error-confirmPassword-minlength")}}
        </mat-error>
        <mat-error *ngIf="passwordFormGroup.get('confirmPassword').hasError('maxlength')">
          {{t("error-confirmPassword-maxlength")}}
        </mat-error>
      </mat-form-field>
      <div class="spacer"></div>

    </form>

    <div>
      <mat-checkbox [(ngModel)]="passwordHide" [disabled]="!passwordHideCheckBoxEnabled"></mat-checkbox>
      {{t("show-password")}}
    </div>

    <div class="buttonsColumn">
      <button mat-raised-button color="primary" id="nextButton" type="submit" [disabled]="!passwordFormGroup.valid"
        (click)="checkPassword()">
        {{t("next")}}
      </button>
    </div>
  </div>
</ng-container>