.app-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.app-menu {
  position: absolute;
  top: 50px; /* Ajuste conforme necessário */
  left: 10px; /* Ajuste conforme necessário */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000; /* Para garantir que o menu fique sobre outros elementos */
}

.app-grid {
  display: flex;
  flex-wrap: wrap;
}

.app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  width: calc(33.33% - 10px); /* Ajuste conforme necessário */
  cursor: pointer;
  text-align: center;
}

.app-item mat-icon {
  font-size: 24px; /* Reduzido de 36px para 24px */
  margin-bottom: 5px;
}

.app-container {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 500; /* Para garantir que o conteúdo do aplicativo não sobreponha o menu */
}

.app-container .app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.app-container .app-header h2 {
  margin: 0;
}

.app-container .app-header button {
  background: none;
  border: none;
  cursor: pointer;
}
