.full-screen-dialog .mat-dialog-container {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
}
  
  .full-screen-dialog #map {
    width: 100%;
    height: calc(100vh - 112px); /* Ajusta a altura do mapa para ocupar o espaço restante */
  }
  
  .partial-screen-dialog .mat-dialog-container {
    width: 70vw; /* Aumenta a largura do diálogo */
    height: 70vh; /* Aumenta a altura do diálogo */
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 8px;
  }
  
  .partial-screen-dialog #map {
    width: 100%;
    height: calc(70vh - 112px); /* Ajusta a altura do mapa para ocupar o espaço restante */
  }