<mat-form-field style="width: 100%;" appearance="outline"
  [ngClass]="{ 'input-error': inputValue.hasError('characterLimitExceeded') && inputValue.touched }">
  <mat-label>{{ displayedLabel }}</mat-label>
  <input matInput style="text-align: right;" placeholder="{{ placeholder }}" [formControl]="inputValue"
    (blur)="applyFinalFormatting()" [attr.maxlength]="charactersLimit ? charactersLimit : null" [required]="isRequired"
    [mask]="mask" />

  <mat-icon (click)="actionOnClickInIcon && actionOnClickInIcon()"
    *ngIf="svgIcon != null && setIconPosition() == 'start'" matPrefix>
    {{ svgIcon }}
  </mat-icon>
  <mat-icon (click)="actionOnClickInIcon && actionOnClickInIcon()" *ngIf="svgIcon != null && setIconPosition() == 'end'"
    matSuffix>
    {{ svgIcon }}
  </mat-icon>

  <mat-error *ngIf="inputValue.hasError('characterLimitExceeded') && inputValue.touched">
    {{ translocoService.translate('componentsBase.Alerts.errorMessageLimitation') }}
  </mat-error>
</mat-form-field>